.map-container {
  position: relative;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 10px;
  }
  
  .map-frame {
    border: 1px solid black;
    height: 500px;
  }
  
  #map {
      height: 500px;
      border: 4px #fff solid;
      margin-bottom: 20px;
      box-shadow: 0 0 5px -1px rgba(0, 0, 0, 1);
  }