
  &nbsp;
  <div class = "container">
      <div class = "row">
        <div class = "md-col-12 text-center fs-2 fw-bold" style="color: rgb(211, 62, 62);">Completa il questonario dando una valutazione alle materie da 1 a 10</div>
      </div>
      &nbsp;
  <form [formGroup] = "angForm" (ngSubmit) = "postdata(angForm)" autocomplete="off">
      <div class = "row">
          <div class = "col-md-6 fs-4"> <p class ="fw-bold fst-italic" id="validationCustom01" placeholder="First name" value="Mark" required>User name </p></div>
          <div class = "col-md-6"> <input type="text" class = "form-control" name = "user" formControlName = "user" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
          <div class = "col-md-6 fs-4 "> <p class ="fw-bold fst-italic">Informatica da 1 a 10</p></div>
          <div class = "col-md-6"> <input type="number" class = "form-control" name = "informatica" formControlName = "informatica" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
          <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">Matematica da 1 a 10</p> </div>
          <div class = "col-md-6"> <input type="number" class = "form-control" name = "matematica" formControlName = "matematica" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
          <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">Arte da 1 a 10</p> </div>
          <div class = "col-md-6"> <input type="number" class = "form-control" name = "arte" formControlName = "arte" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">scienze da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "scienze" formControlName = "scienze" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">storia da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "storia" formControlName = "storia" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">tecnologia da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "tecnologia" formControlName = "tecnologia" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">musica da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "musica" formControlName = "musica" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">geografia da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "geografia" formControlName = "geografia" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">inglese da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "pri_inglese" formControlName = "pri_inglese" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
        <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">seconda lingua (francese,spagnolo,tedesco) da 1 a 10</p> </div>
        <div class = "col-md-6"> <input type="number" class = "form-control" name = "sec_leng" formControlName = "sec_leng" placeholder="inserisci un valore"> </div>
      </div>
      <br><br>
      <div class = "row">
        
          <div class = "col-6 mx-auto"> <button type="submit" class = "form-control btn btn-danger" name = "submit">Invia</button> </div>
          
      </div>
  </form>


  <div class = "row">
    <div class = "md-col-12 text-center fs-1">
      &nbsp;
      <h1>Dopo l'analisi del tuo questionario, siamo arrivati alla conclusione {{newData | json}} </h1>
    </div>
  </div>

  </div>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

<div class="col-12">
  <app-map></app-map>
</div>
