
  &nbsp;
  <div class = "container">
      <div class = "row">
        <div class = "md-col-12 text-center fs-2 fw-bold" style="color: rgb(211, 62, 62);">Completa il questonario dando una valutazione alle materie da 1 a 10</div>
      </div>
      &nbsp;
  <form [formGroup] = "angForm" (ngSubmit) = "postdata(angForm)" autocomplete="off">
      <div class = "row">
          <div class = "col-md-6 fs-4"> <p class ="fw-bold fst-italic" id="validationCustom01" placeholder="First name" value="Mark" required>User name </p></div>
          <div class = "col-md-6"> <input type="text" class = "form-control" name = "user" formControlName = "user" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
          <div class = "col-md-6 fs-4 "> <p class ="fw-bold fst-italic">Informatica da 1 a 10</p></div>
          <div class = "col-md-6"> <input type="number" class = "form-control" name = "informatica" formControlName = "informatica" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
          <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">Matematica da 1 a 10</p> </div>
          <div class = "col-md-6"> <input type="number" class = "form-control" name = "matematica" formControlName = "matematica" placeholder="inserisci un valore"> </div>
      </div>
      <div class = "row">
          <div class = "col-md-6 fs-4"><p class ="fw-bold fst-italic">Arte da 1 a 10</p> </div>
          <div class = "col-md-6"> <input type="number" class = "form-control" name = "arte" formControlName = "arte" placeholder="inserisci un valore"> </div>
      </div>
      <br><br>
      <div class = "row">
        
          <div class = "col-6 mx-auto"> <button type="submit" class = "form-control btn btn-danger" name = "submit">Invia</button> </div>
          
      </div>
  </form>

  <div class = "row">
      <div class = "md-col-12 text-center fs-1">
      &nbsp;
      <h1>Dopo l'analisi del tuo questionario, siamo arrivati alla conclusione {{newData | json}} </h1>
  </div>
      
    </div>

  </div>

  <script>
    // Example starter JavaScript for disabling form submissions if there are invalid fields
    (function() {
      'use strict';
      window.addEventListener('load', function() {
        // Fetch all the forms we want to apply custom Bootstrap validation styles to
        var forms = document.getElementsByClassName('needs-validation');
        // Loop over them and prevent submission
        var validation = Array.prototype.filter.call(forms, function(form) {
          form.addEventListener('submit', function(event) {
            if (form.checkValidity() === false) {
              event.preventDefault();
              event.stopPropagation();
            }
            form.classList.add('was-validated');
          }, false);
        });
      }, false);
    })();
    </script>

  <!----
  <footer class="footer bg-dark text-center text-white">
      <div class="container">
        <section class="">
          <form action="">
            <div class="row d-flex justify-content-center">
              <div class="col-md-12">
                <p class="pt-2">
                  <strong>Siamo in continuo sviluppo, aiutaci dandoci i tuoi consigli</strong>
                </p>
              </div>
              <div class="col-md-6 col-12">
                <div class="form-outline form-white mb-4">
                  <input type="email" id="form5Example21" class="form-control" />
                </div>
              </div>
              <div class="col-auto">
                <button type="submit" class="btn btn-outline-light mb-4">
                  Subscribe
                </button>
              </div>
            </div>
          </form>
        </section>
    
        <section class="mb-4">
          <p style="text-align: center; ">
              I contenuti presenti su questo sito sono di proprietà della MoWi Corporation.
    
              Non possono essere copiati, riprodotti, pubblicati o redistribuiti perché appartenenti all'autore stesso, se non dopo autorizzazione affermativa scritta alla richiesta di utilizzo.
              
              E’ vietata la copia e la riproduzione dei contenuti in qualsiasi modo o forma
              
              Legge 248/00 e modifica legge 633/41
              <p >Tutti i diritti sono riservati &nbsp;</p>
          
        </section>
      </div>
    
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-white">Powered by MoWi Corporation</a>
      </div>
    </footer>
  -->


