/* You can add global styles to this file, and also import other style files */

 .container:before,
 .container:after {
    content: "";
    display: table;
 }
 
 .container:after {
    clear: both;
 }
 