<div id="header_navbar" class="header_navbar">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav">                  
                        <a class="navbar-brand" href="#">
                        &nbsp;<span style="font-weight: bold; color: rgb(211, 62, 62);">FindYorSchool</span>
                        </a>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div> 

<div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-left">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-8 col-md-10" style="position: absolute; top: 135px;">
                <div class="hero_content text-left">
                    <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Trova la tua scuola</h2>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Il nostro sito è stato pensato per aiutarvi a cercare la scuola superiore piu adatta a voi, basandoci sulle materie che più vi interessano.</p>
                    <button type="button" class="btn btn-danger">Comincia a cercare</button>


                </div> 
            </div>
        </div> 
        </div> 
    </div> 
</div> 



<div class="container">
  <div class="row justify-content-right">
    <div class="col-lg-8 col-md-10" style="position: absolute; top: 350px;">
      <div class="hero_content text-left">
        <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <div class="card-header">Header</div>
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div> 
    </div>
  </div> 
</div> 
 

<footer class="footer bg-dark text-center text-white">
    <div class="container p-4">
      <section class="">
        <form action="">
          <div class="row d-flex justify-content-center">
            <div class="col-auto">
              <p class="pt-2">
                <strong>Siamo in continuo sviluppo, aiutaci dandoci i tuoi consigli</strong>
              </p>
            </div>
            <div class="col-md-5 col-12">
              <div class="form-outline form-white mb-4">
                <input type="email" id="form5Example21" class="form-control" />
              </div>
            </div>
            <div class="col-auto">
              <button type="submit" class="btn btn-outline-light mb-4">
                Subscribe
              </button>
            </div>
          </div>
        </form>
      </section>

      <section class="mb-4">
        <p style="text-align: center;">
            I contenuti presenti su questo sito sono di proprietà della MoWi Corporation.

            Non possono essere copiati, riprodotti, pubblicati o redistribuiti perché appartenenti all'autore stesso, se non dopo autorizzazione affermativa scritta alla richiesta di utilizzo.
            
            E’ vietata la copia e la riproduzione dei contenuti in qualsiasi modo o forma
            
            Legge 248/00 e modifica legge 633/41
            <p >Tutti i diritti sono riservati &nbsp;</p>
        
      </section>
    </div>

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2022 Copyright:
      <a class="text-white">Powered by MoWi Corporation</a>
    </div>
    <!-- Copyright -->
  </footer>