<div id="header_navbar" class="header_navbar">
    <div class="container-fluid">
        <div class="row">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <div class="container-fluid">
                    <ul class="navbar-nav">                  
                        <a class="navbar-brand" href="#">
                        &nbsp;<span style="font-weight: bold; color: rgb(211, 62, 62);">FindYorSchool</span>
                        </a>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#">Disabled</a>
                    </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div> 

<div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-left">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-8 col-md-10" style="position: absolute; top: 135px;">
                <div class="hero_content text-left">
                    <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Trova la tua scuola</h2>
                    <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Il nostro sito è stato pensato per aiutarvi a cercare la scuola superiore piu adatta a voi, basandoci sulle materie che più vi interessano.</p>
                    <button type="button" class="btn btn-danger">Comincia a cercare</button>
                </div> 
            </div>
        </div> 
        </div> 
    </div> 
</div> 


<footer class="footer bg-light text-center text-lg-start">

    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-dark" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>

  </footer>