
<div id="header_navbar" class="header_navbar">
  <div class="container-fluid">
      <div class="row">
          <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
              <div class="container-fluid">
                  <ul class="navbar-nav">                  
                      <a class="navbar-brand" href="#">
                      &nbsp;<span style="font-weight: bold; color: rgb(211, 62, 62);">FindYourSchool</span>
                      </a>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link disabled" href="#">Disabled</a>
                  </li>
                  </ul>
              </div>
          </nav>
      </div>
  </div>
</div> 
<router-outlet></router-outlet>
<footer class="footer bg-dark text-center text-white">
  <div class="container p-4">
    <section class="">
      <form action="">
        <div class="row d-flex justify-content-center">
          <div class="col-auto">
            <p class="pt-2">
              <strong>Siamo in continuo sviluppo, aiutaci dandoci i tuoi consigli</strong>
            </p>
          </div>
          <div class="col-md-5 col-12">
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
            </div>
          </div>
          <div class="col-auto">
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
        </div>
      </form>
    </section>

    <section class="mb-4">
      <p style="text-align: center;">
          I contenuti presenti su questo sito sono di proprietà della MoWi Corporation.

          Non possono essere copiati, riprodotti, pubblicati o redistribuiti perché appartenenti all'autore stesso, se non dopo autorizzazione affermativa scritta alla richiesta di utilizzo.
          
          E’ vietata la copia e la riproduzione dei contenuti in qualsiasi modo o forma
          
          Legge 248/00 e modifica legge 633/41
          <p >Tutti i diritti sono riservati &nbsp;</p>
      
    </section>
  </div>

  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright:
    <a class="text-white">Powered by MoWi Corporation</a>
  </div>
  <!-- Copyright -->

  
</footer>