
<div class= "container">
  <div class="banner">
    <div class = "content">
      <h1 class = "mb-1">Trova ora la scuola <br> più adatta a te</h1>
      <button type="button" class="btn btn-danger" (click) = "functionOnWhichRedirectShouldHappen()">Comincia a cercare</button>
      </div>
  </div>
</div>


<div class= "container fluid">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <span style="font-weight: bold; color: rgb(211, 62, 62);">COSA FACCIAMO?</span>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Il nostro sito è stato pensato per aiutarvi a cercare la scuola superiore piu adatta a voi, basandoci sulle materie che più vi interessano.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-dark mb-3" >
        <div class="card-body">
          <span style="font-weight: bold; color: rgb(211, 62, 62);">COME LO FACCIAMO?</span>
          <p class="card-text">Ti sottoporremo ad un breve questionario nel quale dovrai valutare, da 1 a 10, le materie scolastiche</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <span style="font-weight: bold; color: rgb(211, 62, 62);">PERCHE LO FACCIAMO?</span>
          <p class="card-text">Il sito è stato realizzato siccome sappiamo che molto spesso ci sono dubbi nella scelta della scuola superiore </p>
        </div>
      </div>
    </div>
  </div>
</div>
