
<div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-left">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-8 col-md-10" style="position: absolute; top: 135px; text-align: center;">
                <div class="hero_content text-left">
                    <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Trova la tua scuola</h2>
                    <button type="button" class="btn btn-danger" (click) = "functionOnWhichRedirectShouldHappen()">Comincia a cercare</button>
                </div> 
            </div>
        </div> 
        </div> 
    </div> 
</div> 

<div class= "container">
  <div class="row">
    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <span style="font-weight: bold; color: rgb(211, 62, 62);">COSA FACCIAMO?</span>
          <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Il nostro sito è stato pensato per aiutarvi a cercare la scuola superiore piu adatta a voi, basandoci sulle materie che più vi interessano.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-dark mb-3" >
        <div class="card-body">
          <span style="font-weight: bold; color: rgb(211, 62, 62);">COME LO FACCIAMO?</span>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <span style="font-weight: bold; color: rgb(211, 62, 62);">PERCHE LO FACCIAMO?</span>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        </div>
      </div>
    </div>
  </div>
</div>


<div _ngcontent-ffl-c77="" fxlayout="row" fxlayout.lt-md="column" fxlayoutwrap="nowrap" fxlayoutgap="30px"
  class="container" style="flex-direction: row; box-sizing: border-box; display: flex;">
  <div _ngcontent-ffl-c77="" fxflex="50"
    style="margin-right: 30px; flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
    <h1 _ngcontent-ffl-c77="" class="home-intro-title">Your complete Angular App Development kit</h1>
    <div _ngcontent-ffl-c77="" class="home-intro-desc"> Egret implements the official Angular Material Design components
      and built with Angular CLI. <br _ngcontent-ffl-c77=""> No Bootstrap!, No jQuery! and Only TypeScript! </div>
    <div _ngcontent-ffl-c77="" fxlayout="column" fxlayoutgap="30px" class="intro-list"
      style="flex-direction: column; box-sizing: border-box; display: flex;">
      <div _ngcontent-ffl-c77="" fxflex="100"
        style="margin-bottom: 30px; flex: 1 1 100%; box-sizing: border-box; max-height: 100%; flex-direction: row; display: flex;">
        <span style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;"></span> 100+ Custom Pipes,
        Directives And Components
      </div>
      <div _ngcontent-ffl-c77="" fxflex="100"
        style="margin-bottom: 30px; flex: 1 1 100%; box-sizing: border-box; max-height: 100%; flex-direction: row; display: flex;">
        <span _ngcontent-ffl-c77="" fxflex="20px"
          style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;"></span> 4 color Themes and
        multi language support
      </div>
      <div _ngcontent-ffl-c77="" fxflex="100"
        style="flex: 1 1 100%; box-sizing: border-box; max-height: 100%; flex-direction: row; display: flex;">
        <span _ngcontent-ffl-c77="" fxflex="20px"
          style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;"></span> Super Flexible And
        Customizable
      </div>
    </div>
    <div _ngcontent-ffl-c77="" fxlayout="row" fxlayout.lt-sm="column"
      style="flex-direction: row; box-sizing: border-box; display: flex;"><button _ngcontent-ffl-c77=""
        mat-raised-button="" mat-lg-button="" color="primary"
        class="mat-focus-indicator mat-raised-button mat-button-base mat-primary"><span class="mat-button-wrapper">
         BUY EGRET
        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></button><span _ngcontent-ffl-c77="" fxflex="20px"
        style="flex: 1 1 20px; box-sizing: border-box; max-width: 20px; min-width: 20px;"></span><button
        _ngcontent-ffl-c77="" mat-raised-button="" mat-lg-button="" id="frontend-btn"
        class="mat-focus-indicator mat-raised-button mat-button-base"><span class="mat-button-wrapper">
           ANGULAR LANDING
        </span><span matripple="" class="mat-ripple mat-button-ripple"></span><span
          class="mat-button-focus-overlay"></span></button></div>
  </div><span _ngcontent-ffl-c77="" fxflex.lt-md="30px" fxflex="0"
    style="margin-right: 30px; flex: 1 1 0%; box-sizing: border-box;"></span>
  <div _ngcontent-ffl-c77="" fxflex="50" style="flex: 1 1 100%; box-sizing: border-box; max-width: 50%;">
    <div _ngcontent-ffl-c77="" class="intro-product"><a _ngcontent-ffl-c77="" matripple=""
        href="https://themeforest.net/item/egret-angular-4-material-design-admin-template/20161805?ref=mh_rafi"
        target="_blank" class="mat-ripple intro-product-link">
        <div _ngcontent-ffl-c77="" class="price">$24</div><span _ngcontent-ffl-c77="" class="price-text">Buy From
          ThemeForest</span>
      </a><img _ngcontent-ffl-c77="" mat-card-image="" src="assets/images/egret-screen.png" class="mat-card-image">
    </div>
  </div>
</div>