

<div class="header_hero">
    <div class="single_hero bg_cover d-flex align-items-left">
        <div class="container">
            <div class="row justify-content-left">
                <div class="col-lg-8 col-md-10" style="position: absolute; top: 135px; text-align: center;">
                <div class="hero_content text-left">
                    <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Trova la tua scuola</h2>
                    <button type="button" class="btn btn-danger" (click) = "functionOnWhichRedirectShouldHappen()">Comincia a cercare</button>
                </div> 
            </div>
        </div> 
        </div> 
    </div> 
</div> 


<div class="row">
  <div class="col">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <span style="font-weight: bold; color: rgb(211, 62, 62);">COSA FACCIAMO?</span>
        <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s">Il nostro sito è stato pensato per aiutarvi a cercare la scuola superiore piu adatta a voi, basandoci sulle materie che più vi interessano.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <span style="font-weight: bold; color: rgb(211, 62, 62);">COME LO FACCIAMO?</span>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
      <div class="card-body">
        <span style="font-weight: bold; color: rgb(211, 62, 62);">PERCHE LO FACCIAMO?</span>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
      </div>
    </div>
  </div>
</div>

